name: Python application

on:
  push:
    branches: 
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Python script and check output
      run: |
        python program.py > output.txt  # Run program.py and redirect output to a file
        cat output.txt  # Display the contents of the output file for verification
        if ! grep -q "FDP" output.txt; then exit 1; fi  # Check if "FDP" is present in the output
